* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root.dark{
  --theme-border: 1px solid white;
  --theme-background-color:rgb(36, 36, 36); 
  --theme-color:white;
  --theme-body-background-color:rgba(87, 77, 67, 0.5);
  --theme-calculator-border:5px solid white;
  --theme-screen-background-color: black;
  --theme-screen-color:white;
  --theme-change-color-bg:white;
  --theme-change-color-clr:black;
}
:root{
  --theme-border: 1px solid black;
  --theme-background-color:rgb(236, 236, 236); 
  --theme-color:black;
  --theme-body-background-color:rgba(250, 235, 215, 0.5);
  --theme-calculator-border:5px solid black;
  --theme-screen-background-color: white;
  --theme-screen-color:black;
  --theme-change-color-bg:black;
  --theme-change-color-clr:white;
}

body{
    background-color: var(--theme-body-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator-body{
    height: 40%;
    background-color: black;
    width: 20%;
    min-width: 375px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--theme-calculator-border);
    border-radius: 3px;
}
.calc-screen{
  background-color: var(--theme-screen-background-color);
  color: var(--theme-screen-color);
  width: 100%;
  flex:1;
  font-size: 50px;
  padding-right: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  border: var(--theme-border);
}
.button-holder{
  width: 100%;
  flex:5;
  display: flex;
  flex-direction: column;
}
.button-row{
  display: flex;
  flex:1;
}
button{
  flex:1;
  font-size: 20px;
  border: var(--  theme-border);
  color: var(--theme-color);
  background-color: var(--theme-background-color);
}
button:hover{
  background-color: rgb(126, 122, 122);
}
.button-zero{
  flex:2.05;
}
.changeColor{
  background-color: var(--theme-change-color-bg);
  color: var(--theme-change-color-clr);
}


/*why */